/* CSS ruleset for App component and children */

/* change the box model */
* {

    box-sizing: border-box;
}


/* Header component */
div#header {

    text-align: center;
    border-bottom: 3px solid black;

}



/* GameBoard component */
div#gameBoard {

    /* turn the GameBoard Component into a block-level grid container */
    display: grid;

    /* 3 columns in grid */
    grid-template: repeat(3, 175px) / repeat(3, 175px);
    justify-content: center;

    /* dimensions */
    width: 600px;
    height: 500px;

    /* center on page */
    margin: 50px auto;
    text-align:center;
}

/* GamePiece component */
.gamePiece {

    border: 3px solid black;
    
}

/* center gamePiece text both horizontally and vertically*/
.gamePiece > h2 {

    padding: 25%;
}



/* remove border lines from gamepieces for appearance */

/* remove left border line */
#gamePiece1, #gamePiece4, #gamePiece7 {

    border-left: none;
}

/* remove top border line */
#gamePiece1, #gamePiece2, #gamePiece3 {

    border-top: none;
}

/* remove right border line */
#gamePiece3, #gamePiece6, #gamePiece9 {

    border-right: none;
}

/* remove bottom border line */
#gamePiece7, #gamePiece8, #gamePiece9 {

    border-bottom: none;
}




.gamePiece:hover {

    background-color: gold;
}




/* ScoreBoard component */
#scoreBoard {

    width: 550px;
    margin: 0 auto;
    border: 1px solid black;

    display: grid;
    grid-template-columns: auto auto auto;

    text-align: center;
}



/* Score component */
.score {

    border: 3px solid black;

}
